<nz-layout>    
  <nz-sider nzCollapsible  [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <div class="logo">
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu>
            <span title><i class="anticon anticon-user"></i><span class="nav-text">User1</span></span>
            <ul>
              <li nz-menu-item>Tom</li>
              <li nz-menu-item>Bill</li>
              <li nz-menu-item>Alex</li>
            </ul>
          </li>
          <li nz-submenu>
            <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
            <ul>
              <li nz-menu-item>Team 1</li>
              <li nz-menu-item>Team 2</li>
            </ul>
          </li>
          <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>
        </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="app-head">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <div class="ant-tabs-nav-container" style="border-bottom: 1px solid #d9d9d9;padding: 3px;">
      <span class="ant-tabs-tab-prev ant-tabs-tab-btn-disabled">
        <span class="ant-tabs-tab-prev-icon"></span>
      </span>
      <span class="ant-tabs-tab-next">
        <span class="ant-tabs-tab-next-icon"></span>
      </span>
      <div class="ant-tabs-nav-wrap">
        <div class="ant-tabs-nav-scroll">
          <div class="ant-tabs-nav ant-tabs-nav-animated" style="transform: translate3d(0px, 0px, 0px);">
            <div nz-tabs-ink-bar="" style="display: block; visibility: visible; transform: translate3d(0px, 0px, 0px); width: 67px;" class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"></div>
              <div  class="ant-tabs-tab ant-tabs-tab-active">Tab 1 <i class="anticon anticon-close" ></i></div>
              <div  class="ant-tabs-tab ">Tab 2 <i class="anticon anticon-close" ></i></div>
              <div  class="ant-tabs-tab ">Tab 3 <i class="anticon anticon-close" ></i></div>
            </div>
          </div>
        </div>
      </div>
    <nz-content style="flex:1;">
      <div class="h-full w-full">
        
      </div>
    </nz-content>
    <nz-footer style="text-align: center;border-top:1px solid #d9d9d9;">©2018</nz-footer>
  </nz-layout>
</nz-layout>