<div class="ant-tabs-nav-container" style="border-bottom: 1px solid #d9d9d9;padding: 3px;">
  <span class="ant-tabs-tab-prev ant-tabs-tab-btn-disabled">
    <span class="ant-tabs-tab-prev-icon"></span>
  </span>
  <span class="ant-tabs-tab-next">
    <span class="ant-tabs-tab-next-icon"></span>
  </span>
  <div class="ant-tabs-nav-wrap">
    <div class="ant-tabs-nav-scroll">
      <div class="ant-tabs-nav ant-tabs-nav-animated" style="transform: translate3d(0px, 0px, 0px);">
        <div nz-tabs-ink-bar="" style="display: block; visibility: visible; transform: translate3d(0px, 0px, 0px); width: 67px;" class="ant-tabs-ink-bar ant-tabs-ink-bar-animated">

        </div>
        <div  class="ant-tabs-tab ant-tabs-tab-active">
            DashBoard <i class="anticon anticon-close" ></i>
        </div>
      </div>
    </div>
  </div>
</div>